<div class="content-wrapper">
  <app-header [globalData]='globalData'></app-header>
  <div class="container">
    <div class="list">
      <app-list [totalCases]='totalCases' [globalData]='globalData' [countryName]='curentCountry'
      (onChooseCountry)='onSelectCountry($event)'></app-list>
    </div>
    <div class="map">
      <app-map [countryForMap]='curentCountry' (onClickCountry)='onSelectCountry($event)'></app-map>
    </div>
    <div class="graph-table">
      <div class="graph">
        <app-graph [country]='curentCountry'></app-graph>
      </div>
      <div class="table">
        <app-table [totalCases]='totalCases' [globalData]='globalData' [currentCountryInf]='currentCountryInformation'>
      </app-table>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>