<div class="content-wrapper">
  <app-header [globalData]='globalData'></app-header>
  <div class="container">
    <app-list [totalCases]='totalCases' [globalData]='globalData' [countryName]='curentCountry'
      (onChooseCountry)='onSelectCountry($event)'></app-list>
    <app-graph [country]='curentCountry'></app-graph>
    <app-table [totalCases]='totalCases' [globalData]='globalData' [currentCountryInf]='currentCountryInformation'>
    </app-table>
    <app-map [countryForMap]='curentCountry' (onClickCountry)='onSelectCountry($event)'></app-map>
  </div>
  <app-footer></app-footer>
</div>