.content-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  height: 90vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  app-map, app-list{
    margin: 5px;
  }
}
.graph-table{
  width: 30%;
  margin: 5px;
}