/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
html{
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-body {
  padding: 5px;
  height: 550px;
}
