<div class="table" [ngClass]="windowMode ? 'table--full' : ''">
  <div class="window-mode" (click)="windowModeSwitcher()">
    <div class="material-icons" *ngIf="windowMode === false; else reduceWindow">
      fullscreen
    </div>
    <ng-template #reduceWindow>
      <span class="material-icons">
        fullscreen_exit
      </span>
    </ng-template>
  </div>
  <div class="table__tabs">
    <mat-tab-group headerPosition="below" [attr.mat-align-tabs]="alignTabs">
      <mat-tab label="Total">
        <div class="table__wrapper">
          <div class="table__global">
            <div class="table__global-header">Total Cases</div>
            <div class="table__global-number" style="color:#3f51b5"> {{ globalData?.totalConfirmed }} </div>
          </div>

        </div>
        <div class="table__switchers">
          <div class="switcher switcher-number" (click)="numbersSwitcher()"
            [ngClass]="numberSwitcherStatus ? 'switcher--active' : ''">
            <div class="switcher__circle" [ngClass]="numberSwitcherStatus ? 'switcher__circle--active' : ''"></div>
          </div>
          <div class="switcher switcher-time" (click)="timeSwitcher()"
            [ngClass]="timeSwitcherStatus ? 'switcher--active' : ''">
            <div class="switcher__circle" [ngClass]="timeSwitcherStatus ? 'switcher__circle--active' : ''"></div>
          </div>
        </div>
